{% extends 'base.html' %}
{% block content %}
<title>{% block title %}Expense{% endblock %}</title>
<link rel="stylesheet" media="screen" href="{{url_for('static',filename='css/dashboard.css')}}" />
<body class="flex flex-col items-center min-h-screen customtext">
    <table class="w-full max-w-6xl border border-gray-700 rounded-lg overflow-hidden shadow-lg  mt-1">
        <thead class="bg-gray-800">
            <tr>
                <th class="px-4 py-2 text-center border-r">{{ _('Value') }}</th>
                <th class="px-4 py-2 text-center border-r">{{ _('Category') }}</th>
                <th class="px-4 py-2 text-center border-r">{{ _('Date') }}</th>
                <th class="px-4 py-2 text-center border-r">{{ _('Description') }}</th>
            </tr>
        </thead>
        <tbody class="bg-gray-700 divide-y divide-gray-600">
             {% for expense in expenses %}
           
            <tr>
             <td class="px-4 py-2 text-center border-r">{{expense.amount}}</td>
             <td class="px-4 py-2 text-center border-r">
                <div class="relative flex justify-center items-center rounded-sm px-4 py-1" style="background-color: {{ categories[expense.category_id].color }};">
                    <span class="absolute left-4"> {{ categories[expense.category_id].icon}}</span> {{ categories[expense.category_id].name }}
                </div>

                
            </td>
             <td class="px-4 py-2 text-center border-r">{{expense.date.strftime('%d/%m/%Y')}}</td>
             <td class="px-4 py-2 text-center border-r">{{expense.description}}</td>
             </tr>
 
             {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}

