{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
<body class="flex items-center justify-center min-h-screen custombg">
    <style>
        .fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 1s ease-in;
}
    </style>
    <div class="fixed top-4 right-4 flex items-center space-x-2 z-10">
         <span class="customtext">PT</span>
        <div class="relative inline-block w-10 align-middle select-none">
            <form id="language-toggle-form" action="{{ url_for('index.set_language', language='en' if session.get('lang') == 'pt' else 'pt') }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="checkbox" name="language" value="toggle" id="toggle" class="hidden" {{ 'checked' if session.get('lang') == 'en' else '' }}>
                <label for="toggle" class="block overflow-hidden h-4 rounded-full bg-purple-300 cursor-pointer">
                    <span class="block w-4 h-4 bg-white rounded-full shadow-sm transform transition-transform duration-300 ease-in-out {{ 'translate-x-4' if session.get('lang') == 'en' else 'translate-x-0' }}"></span>
                </label>
            </form>
        </div>
        <span class="customtext">EN</span>
    </div>
    
    <br>

    <div class="customfg bg-opacity-85 text-center text-white p-8 rounded-lg shadow-lg w-full max-w-md">
        <div class="flex flex-col items-center mb-6">
            <img src="{{ url_for('static', filename='icon/rabbit.png') }}" class="w-32 mb-4">
            <h2 class="text-2xl font-bold customtext">RabbitFlow</h2>
        </div>
        
        <form id="loginForm" method="POST" >
     
            <div class="mb-4 text-left">
                <label for="username" id="username-label" class="block text-sm font-medium ">{{ _('Username') }}</label>
                <input type="text" name="username" id="username" required class="mt-1 bg-white  w-full text-center customtext rounded-sm border-gray-300 shadow-xs">
            </div>
            <div class="mb-6 text-left">
                <label for="password" id="password-label" class="block text-sm  font-medium ">{{ _('Password') }}</label>
                <input type="password" name="password" id="password" required class="mt-1 bg-white  text-center text-lg customtext w-full rounded-sm border-gray-300">
            </div>
            <button type="submit" id="login-button" class="w-full py-2 px-4 bg-indigo-600 customtext text-white rounded-md hover:bg-indigo-700 focus:outline-hidden focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                {{ _('Login') }}
            </button>
            
        </form>
        <div id="loginmessage" class="text-red-500 mt-4"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            var login_error="{{ _('Login or password are incorrect')}}"
            var process_error="{{ _('Error processing request')}}"
            $("#toggle").on("change", function(event) {
                event.preventDefault();
                var newLanguage = $(this).is(":checked") ? 'en' : 'pt';
                var form = $("#language-toggle-form");
                $.ajax({
                    type: "POST",
                    url: "/set_language/" + newLanguage,
                    data: {
                        csrf_token: form.find("input[name='csrf_token']").val()
                    },
                    success: function(response) {
                        $("#username-label").text(response.username_label);
                        $("#password-label").text(response.password_label);
                        $("#login-button").text(response.login_button);
                        login_error=response.login_error;
                        process_error=response.process_error;
                        if (newLanguage === 'en') {
                            $("span.transform").removeClass("translate-x-0").addClass("translate-x-4");
                        } else {
                            $("span.transform").removeClass("translate-x-4").addClass("translate-x-0");
                        }
                        var nextLanguage = (newLanguage === 'en') ? 'pt' : 'en';
                        form.attr('action', "/set_language/" + nextLanguage);
                    },
                    error: function() {
                        $("#toggle").prop("checked", !$("#toggle").is(":checked"));
                    }
                });
            });
      
            $("#loginForm").on("submit", function(event) {
                event.preventDefault();

                $.ajax({
                    type: "POST",
                    url: "{{ url_for('auth.auth') }}",
                    data: $(this).serialize(),
                    success: function(response) {
                        if (response.success) {
                            window.location.href = "{{ url_for('index.home') }}";
                        } else {
                            $("#loginmessage").text(login_error).show();
                            setTimeout(function() {
                                $("#loginmessage").fadeOut();
                            }, 5000);
                        }
                    },
                    error: function() {
                        $("#loginmessage").text("{{ _("Error processing request") }}").show();
                        setTimeout(function() {
                            $("#loginmessage").fadeOut();
                        }, 3000);
                    }
                });
            });
        });
    </script>
</body>
{% endblock %}
